In [ ]:
import pandas as pd
from datetime import timedelta

df = pd.read_csv("../data/processed/cleaned_retail.csv")
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])


reference_date = df["InvoiceDate"].max() + timedelta(days=1)

rfm = df.groupby("Customer ID").agg({
    "InvoiceDate": lambda x: (reference_date - x.max()).days,
    "Invoice": "nunique",
    "Price": lambda x: (df.loc[x.index, "Quantity"] * x).sum()
})

rfm.columns = ["Recency", "Frequency", "Monetary"]
rfm = rfm.reset_index()
rfm.head()

rfm.to_csv("../data/processed/rfm.csv", index=False)

             Recency  Frequency  Monetary
Customer ID
12346.0          165         11    372.86
12347.0            3          2   1323.32
12348.0           74          1    222.16
12349.0           43          3   2671.14
12351.0           11          1    300.93